{% extends "home.html" %}
{% block content %}
<!-- Projects-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Projects</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <a href="{{ url_for('graduation_project') }}" class="btn btn-primary">Graduation Project</a>
                <p class="lead mb-5">Change Points Detection in Non-Stationary Time Series using the SDAR Algorithm. A Partnership with the INSaNE (Improving Network Security at the Network Edge) project for identification of faults and anomalies in the network. Python</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2018 - December 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <a class="btn btn-primary" href="{{ url_for('twitter_page') }}">Twitter Sentiment Analysis</a>
                <p class="lead mb-5">Escrever algo aqui.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2021</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <a class="btn btn-primary" href="{{ url_for('graph') }}">Graph Simulator</a>
                <p class="lead mb-5">Escrever algo aqui.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">April 2021</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />
{% endblock %}